/* Estilos generales */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    overflow-x: hidden;
    height: 100vh;
}

/* Encabezado superior */
.header {
    background-color: #f8f9fa;
    position: sticky;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 1000;
    height: 50px;
    display: flex;
    align-items: center;
}

/* Barra lateral */
.sidebar {
    height: 100vh; /* Ocupa toda la altura de la pantalla */
    background-color: #2e7d32;
    position: fixed;
    top: 50px; /* Comienza después del encabezado */
    left: 0;
    width: 120px;
    padding-top: 10px; /* Ajuste para contenido dentro del sidebar */
    z-index: 900; /* Asegura que esté por debajo del encabezado */
    overflow: hidden; /* Evita scroll independiente en la barra lateral */
}

/* Estilos responsive */
@media (max-width: 768px) {
    .sidebar {
        transform: translateX(-100%); /* Oculta el sidebar en dispositivos pequeños */
        position: fixed;
        top: 50px; /* Coloca debajo del encabezado */
    }
    
    .sidebar.show {
        transform: translateX(0); /* Muestra el sidebar cuando se activa */
    }
    
    .d-md-none .btn-success {
        position: fixed;
        top: 60px; /* Ajusta este valor para mover el botón más abajo */
        right: 15px;
        z-index: 1050;
    }
}

/* Botón de menú tipo hamburguesa */
.menu-toggle {
    background-color: #2e7d32;
    border: none;
    color: white;
    font-size: 24px;
}

/* Estilos de los enlaces en el sidebar */
.sidebar .nav-link {
    color: #ffffff;
    font-size: 0.9em;
    padding: 8px;
    display: flex;
    align-items: center;
    gap: 5px;
}

.sidebar .nav-link:hover {
    background-color: #1b5e20;
    color: white;
}

/* Contenido principal */
.main-content {
    margin-top: 50px; /* Deja espacio para el navbar */
    margin-left: 120px; /* Espacio para el sidebar */
    padding: 20px;
}

/* Ajustes para el footer */
.footer {
    position: fixed;
    bottom: 0;
    left: 120px; /* Ajusta para que coincida con el ancho de la barra lateral */
    width: calc(100% - 120px); /* Ajusta el ancho para no cubrir el footer */
    color: #555;
    font-size: 0.75em;
    padding: 2px 0;
    background-color: #f8f9fa;
    z-index: 1000; /* Asegura que el footer esté sobre el contenido */
}
