/* Estilos generales */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    overflow: hidden;
}

/* Encabezado superior */
.header {
    background-color: #f8f9fa;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 1000;
    height: 50px;
    display: flex;
    align-items: center;
}

/* Barra lateral */
.sidebar {
    height: 100vh;
    padding-top: 50px;
    background-color: #2e7d32;
    position: fixed;
    top: 0;
    left: 0;
    width: 200px;
}

.sidebar .navbar-brand {
    color: white;
    font-weight: bold;
    font-size: 1.2em;
    padding: 15px;
    display: flex;
    align-items: center;
    gap: 10px;
}

.sidebar .nav-link {
    color: #ffffff;
    font-size: 1.1em;
    padding: 10px 20px;
    display: flex;
    align-items: center;
    gap: 10px;
}

.sidebar .nav-link:hover {
    background-color: #1b5e20;
    color: white;
}

/* Espaciado del contenido principal */
.main-content {
    margin-top: 50px;
    margin-left: 200px;
    height: calc(100vh - 100px);
    overflow-y: auto;
    padding: 20px;
}

/* Información de usuario en el encabezado */
.user-info {
    display: flex;
    align-items: center;
    gap: 5px;
}

.user-name {
    font-weight: bold;
    color: #333;
}

.user-role {
    color: #dc3545;
    font-size: 0.9em;
    line-height: 1.2;
}

/* Footer */
.footer {
    background-color: #f8f9fa;
    height: 30px;
    position: fixed;
    bottom: 0;
    left: 200px;
    width: calc(100% - 200px);
    color: #555;
    font-size: 0.8em;
    padding: 5px 0;
}

/* Estilos para los íconos de la barra lateral */
.sidebar-icon {
    width: 30px; /* Ajusta el tamaño del icono según prefieras */
    height: 30px;
    margin-bottom: 5px; /* Espacio entre el icono y el nombre del módulo */
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.nav-item div {
    font-size: 0.9em; /* Ajusta el tamaño del texto debajo del icono */
}